<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body > div > form {
            font-size: 1.5em;
        }
    </style>

</head>

<body>
  <div class="container-fluid text-center">
    <div class="page-header">
        <h1>Quiz Create</h1>
    </div>
  </div>
  <div class="questions">
    <div id="question_1">
      <label>1번</label>
      <div class="container-fluid text-center">
        <label class="radio-inline">
            <input type="radio" id="question_type" name="question_type_1" value="multiple_choice_1">객관식
        </label>
        <label class="radio-inline">
            <input type="radio" id="question_type" name="question_type_1" value="short_answer_1">주관식
        </label>
      </div>
      <div id="question_type_load_1"></div>
    </div>
  </div>
  <hr>
  <button type="button" class="btn btn-lg btn-info btn-sm" id="addQuestion">문제추가</button>
  <button type="button" class="btn btn-lg btn-info btn-sm" id="removeQuestion">문제삭제</button>
  <button type="button" id="saveQuestion"class="btn btn-lg btn-info btn-sm" name="saveQuestion">저장하기</button>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/quiz/createQuiz/createQuiz.js"></script>
</body>

</html>
